@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Лучший Продуктовый Магазин</h1>
    <div class="container-fluid text-center border-bottom p-4">
        <section>
            <div class="row">
                <!-- MAIN -->
                <main class="col-md-8 col-lg-4">
                    <h2>Обширность</h2>
                    Наш магазин предоставляет продукты со всего мира!
                </main>
                <!-- ASIDE -->
                <div class="col-md-4 col-lg-8">
                    <div class="row">
                        <!-- ASIDE #1 -->
                        <aside class="col-sm-6 col-md-12">
                            <div class="container text-center">

                                <img class="img-fluid" src="~/images/market.jpg" alt="...">
                                    <!-- Элементы управления -->
                                    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Предыдущий</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Следующий</span>
                                    </a>
                                </div>

                            </div>
                        </aside>
                        <!-- ASIDE #2 -->
                        <aside class="col-sm-6 col-md-12">
                           
                        </aside>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="divider"></div>
    <div class="border-top border-bottom text-right p-4">
        <img class="rounded float-left img-fluid.max-width: 10% height: auto" src="~/images/50.jpg" alt="...">
        
        <h3>Адекватные цены </h3> Если найдете дешевле сделаем скидку!
    </div>
    <div class="border-top border-bottom text-left p-4">
        <h3>Отличный выбор </h3>Хотите чипсы из Америки? Или доширак из Японии? Тогда вы точно пришли по адресу!
        <img class="rounded float-left " src="~/images/lap.jpg" alt="...">
    </div>
</div>